<ion-grid>
  <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="12">
        <ion-item>
          <ion-select placeholder="Select Bid Round">
            <ion-select-option value="zob_area_bidschedule_2020">zob_area_bidschedule_2020 - (6 Bid Rounds)</ion-select-option>
            <ion-select-option value="zob_area_bidschedule_2021">zob_area_bidschedule_2021 - (6 Bid Rounds)</ion-select-option>
            <ion-select-option value="zob_area_bidschedule_2022">zob_area_bidschedule_2022 - (6 Bid Rounds)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="2" sizeMd="2" sizeXs="12">
        <ion-item>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime [showDefaultButtons]="true" presentation="date" id="datetime" [(ngModel)]="date" (ionChange)="emitDateSelected(this.date)"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-radio-group value="d-flex">
          <ion-row>
            <ion-item>
              <ion-label>Daily</ion-label>
              <ion-radio slot="start" value="daily" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Weekly</ion-label>
              <ion-radio slot="start" value="weekly"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-radio-group>
      </ion-col>
  </ion-row>
</ion-grid>
